core/org.vesna.core.client/xml-resources/web-service-references/WsClient/wsdl/localhost_1234/.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://services.server.core.vesna.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.server.core.vesna.org/">

<xs:element name="getServerInfo" type="tns:getServerInfo"></xs:element>

<xs:element name="getServerInfoResponse" type="tns:getServerInfoResponse"></xs:element>

<xs:complexType name="getServerInfo">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getServerInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>